.columns {
    /* navbar defaults to 3.25rem, but a button is 2.5rem with 0.5rem top and bottom padding */
    height: calc(100% - 3.5rem);
    margin: 0px;
    box-sizing: border-box;
    background-color: whitesmoke;
}

#sidebar {
    overflow-y: auto;
}

#editor {
    overflow-y: auto;
}