<div cdkDropList (cdkDropListDropped)='onDropListDropped($event)' style="padding:8px;">

    <app-slide [slide]="s" *ngFor="let s of slides" 
        cdkDrag class="slide" 
        (click)='selectSlide(s)'
        [ngClass]="currentSlideId == s.id ? 'selected' : ''">
    </app-slide>

    <svg class="slide" (click)='addSlide()'
        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 1920 1080">
        <rect x="0" y="0" width="1920" height="1080" style="fill:rgb(240, 240, 240);stroke-width:0;" />
        <rect x="920" y="270" width="80" height="540" style="fill:rgb(129, 129, 129);stroke-width:0;" />
        <rect x="690" y="500" width="540" height="80" style="fill:rgb(129, 129, 129);stroke-width:0;" />
    </svg>
</div>