<div style="padding:8px;">
    <!-- todo: single source this with slide-editor -->
    <svg *ngFor="let slide of slides" class="slide" (click)='selectSlide(slide)'
    [ngClass]="currentSlideId == slide.id ? 'selected' : ''"
        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 1920 1080">
        <style>
            .header { font: normal 96px sans-serif; fill: rgb(240, 240, 240); }
        </style>
        <rect x="0" y="0" width="1920" height="1080" style="fill:rgb(255, 255, 255);stroke-width:0;" />
        <image x="0" y="0" width="1920" height="1080" attr.href="{{slide.slideImage}}" preserveAspectRatio="xMidYMid slice"/>
        <rect x="0" y="800" width="1920" height="200" style="fill:rgb(77, 77, 77);stroke-width:0;" />
        <line x1="0" y1="830" x2="1920" y2="830" style="stroke-width:2;stroke:rgb(131, 131, 131);" />
        <line x1="190" y1="800" x2="190" y2="1000" style="stroke-width:2;stroke:rgb(131, 131, 131);" />
        <text x="220" y="940" class="header">{{slide.slideText}}</text>
    </svg>

    <svg class="slide" (click)='addSlide()'
        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 1920 1080">
        <rect x="0" y="0" width="1920" height="1080" style="fill:rgb(240, 240, 240);stroke-width:0;" />
        <rect x="920" y="270" width="80" height="540" style="fill:rgb(129, 129, 129);stroke-width:0;" />
        <rect x="690" y="500" width="540" height="80" style="fill:rgb(129, 129, 129);stroke-width:0;" />
    </svg>
</div>