<nav class="level">
    <div class="level-left">
        <div class="level-item">
            <button class="button" (click)="drop.showFileSelector()">Add Image</button>
        </div>
    </div>
    <div class="level-right">
        <div class="level-item">
            <p class="level-item">Slide text:</p>
        </div>
        <div class="level-item">
            <input class="input" type="text" [(ngModel)]='currentSlide.slideText'>
        </div>
    </div>
</nav>

<div class="slideWrapper">
    <app-slide [slide]="currentSlide" #drop class="editingSlide"></app-slide>
</div>

<div class="columns">
    <div class="column is-one-third" *ngFor="let thumbnail of thumbnails; index as i" (click)="onClickThumbnail(i)">
        <img class="thumbnail" src="{{thumbnail}}" />
    </div>
</div>
